@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
	min-height: 100vh;
}
img {
	max-width: 100%;
}
p {
	margin-bottom: 5px;
}
h3 {
	margin: 0;
}
h5 {
	margin: 10px 0;
}
li {
	margin-bottom: 0;
}
.meal {
	margin: 20px 0;
}
.text-center {
	text-align: center;
	margin-bottom: 80px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#get_meal{
	font-size: 1.5em;
}